@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .backgroundImage {
        background-image: url(../../assets/images/bg-pattern-top-desktop.svg), url(../../assets/images/bg-pattern-bottom-desktop.svg);
        background-repeat: no-repeat, no-repeat;
        background-position: 0vw 0vh, 30vw 10vh;
    }
}